.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.introWrapper{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px;
  z-index: 999;
  min-height: 100vh;
  margin-top: -60px;
}

.avatarWrapper {
  background: linear-gradient(to right, #9c4e65, #df8da6, #ffdfef);
  background-size: 200% 100%;
  animation: gradientAnimation 6s linear infinite;
  transition: background 0.5s ease; 
  border-radius: 50%;
  border: 2px solid rgb(232, 187, 200);
  padding: 20px;
  width: 425px;
  height: 425px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition-delay: 0.7s;
  transition: top 0.7s ease-out, opacity 0.7s ease-in-out;
}
.avatarWrapper.slideUp{
  opacity: 1;
}

.avatarImg {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
}


.hiddenBg {
  background: #F2F1ED;
  width: 189px;
  height: 55px;
  position: absolute;
  z-index: 9;
  left: 6px;
  bottom: -9px;
  border-top: 2px solid black;
}

.changeColor {
  background: linear-gradient(to right, #9c4e65, #df8da6, #ffdfef);
  background-size: 200% 100%;
  animation: gradientAnimation 6s linear infinite;
  transition: background 0.5s ease;
}

@keyframes gradientAnimation {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
}

 .intro{
  color: black;
 }

 .intro h4{
  font-size: 20px;
  font-weight: 600;
  color: rgb(78, 31, 55);
 }

 .intro h1{
  font-size: 48px;
  font-family: 'Outfit', sans-serif;
  color: rgb(78, 31, 55);
 }

 .intro p{
  font-size: 20px;
  padding-top: 12px;
  line-height: 30px;
 }

 .intro p span{
  color: rgb(156 78 101);
  text-shadow: 0 0 7px rgb(179, 134, 147);
 }

 .container {
  position: relative;
  height: 50px; /* Set the height of the container */
  overflow: hidden;
}


.projects{
  color: #000;
  /* display: flex; */
  justify-content: space-around;
  width: 100%;
  text-align: left;
  padding-top: 50px;
  z-index: 999;
  position: relative;
  min-height: 100vh;
}

.projectTitle{
  text-align: center;
}

.projectTitle h4{
  font-size: 22px;
  color: rgb(78, 31, 55);
  line-height: 30px;
}

.companyName{
  color: rgb(156 78 101);
  text-shadow: 0 0 7px rgb(179, 134, 147);
}


 .downArrow span{
  padding-top: 5px;
  color: rgb(78, 31, 55);
  transition: transform 0.3s ease-in-out;
  margin-left: 2px;
}

.downArrow svg{
  width: 20px;
  height: 20px;
}

.downArrow span:hover{
  color: rgb(179, 134, 147); 
  transform: translateY(10px);
}

/* .projects .downArrow span:hover {
  animation: bounceArr 1s infinite;
} */

@keyframes bounceArr {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.cardContainer {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1200px;
 }

 .cardRow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 }

.cardCol {
  color: #fff;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 180px;
  position: relative;
  overflow: hidden;
  /* margin: 0.1rem; */
  margin: 10px;
  border-radius: 5px;
  flex: 1 0 22%;
 }

.photoContainer {
  background: 50% 50% / cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1s;
  transform-origin: top left bottom right;
  border-radius: 5px;
 }
 
 .photoContainer::before {
     content: '';
     position: absolute;
     background: rgba(0, 0, 0, 0.2);
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
 }
 
 .cardCol:hover .photoContainer {
  transform: scale(1.2);
 }

.slide {
  width: 100%;
  padding: 0 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.9s;
 }

.slide:hover {
  background: rgba(173, 131, 143, 0.8);
  cursor: pointer;
}
.slide:hover h4,
.slide:hover .cardBtnWrapper {
  left: 50%;
  transform: translatex(-50%);
}
 

 .slideContent{
  margin-top: 50px;
  text-align: center;
 }

 .slideContent h4{
  width: 100%;
  position: absolute;
  transform: translatex(-200%);
  transition: all 0.9s;
  color: #fff;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
 }
 .cardBtnWrapper{
  width: 100%;
  position: absolute;
  top: 5.5em;
  transform: translatex(200%);
  transition: all 0.9s;
  padding-top: 30px;
 }

 .cardBtn{
  margin: 0 auto;
  max-width: 140px;
  padding: 12px 16px;
  color: #fff;
  background-color: rgb(78, 31, 55);
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: normal;
  font-family: 'Outfit', sans-serif;
  text-transform: uppercase;
  margin-top: -15px;
 }
 .cardBtn:hover{
  color: #fff;
    text-shadow: 0 0 7px rgb(179, 134, 147);
 }
 
 .aboutMeWrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  /* gap: 50px; */
  position: relative;
  z-index: 999;
  min-height: 100vh;
}

 .aboutMe{
  color: #333333;
  /* flex: 0 0 calc(45% - 25px); */
  padding-left: 50px;
 }

 .aboutMe h4{
  font-size: 24px;
  margin-bottom: 15px;
  color: rgb(78, 31, 55);
 }

 .aboutMe p{
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
 }

 .aboutMe p span{
  font-size: 18px;
  color:rgb(156 78 101); 
  text-shadow: 0 0 7px rgb(179, 134, 147);
 }
 .socialIconsWrapper{
    padding: 20px 0;
 }
 .socialIcon{
  color: #ffffff;
  background-color: rgb(156 78 101);
  border-radius: 50%;
  padding: 8px 10px;
  margin: 0 7px;
  font-size: 20px;
  display: inline-block;
 }

 @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
 
 .socialIcon:hover{
  animation: bounce 1s infinite, scale 1s infinite;
 }

 .arrowIcon{
  width: 1.2rem;
  color: rgb(78, 31, 55);
  transition: transform 0.3s ease-in-out;
  margin-left: 2px;
 }

 .arrowIcon:hover {
  color: rgb(179, 134, 147); 
  transform: translate(5px, -5px);
}

.exp{
  flex: 0 0 calc(55% - 25px);
}
 
 .expCard{
  color: #333;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 40px 15px 0px;
 }

 .expCard h4{
  font-size: 22px;
  color: rgb(78, 31, 55);
 }

 .expCard p{
  padding-top: 18px;
  font-size: 18px;
  font-weight: 400;
 }

 .expYear{
  padding-top: 10px;
 }

 .expLanguages{
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px; 
 }

 .expLanguages div{
   padding: 7px 15px;
   background-color: rgb(156 78 101);
   color: #fff;
   margin-top: 12px;
   margin-right: 7px;
   border-radius: 15px;
   font-size: 14px;
 }
 

 .box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: red;
}


@media(min-width: 992px) and (max-width: 1199px){
  .cardCol{
    flex: 1 0 30%;
  }
}
@media(min-width: 681px) and (max-width: 991px){
  .cardCol{
    flex: 1 0 40%;
  }
}

@media(max-width: 991px){
  .aboutMeWrapper{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .exp{
    flex: 1;
  }
  .aboutMe{
    padding-left: 0;
    padding-bottom: 30px;
  }
  .expCard{
    padding: 30px 0 30px 0;
  }
}

@media(max-width: 767px){
  .introWrapper{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    min-height: auto;
    margin: 80px 0 80px;
  }
  .intro{
    padding-top: 40px;
    text-align: center;
  }
  .avatarWrapper{
    width: 200px;
    height: 200px;
  }
}

@media(max-width: 680px){
  .cardCol{
    flex: 1 0 90%;
  }
}

@media(max-width: 575px){
  .introWrapper{
    margin: 40px 0 40px;
  }
}
